__pycache__
*.ckpt
*.pth
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/.vs
/virtualenv
/ort_nightly_directml-1.13.0.dev20221013004-cp310-cp310-win_amd64.whl
/env
*.bad
/embeddings/ayush-spider-spr.pt
/extensions
/test/stdout.txt
/test/stderr.txt
/diffusers
/scripts/vid2vid.py_old
/venv-old
/scripts
