#txt2img_gallery, #img2img_gallery{
    min-height: 768px;
}
.gradio-container::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background-image: url('/logo.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
    background-color: rgba(0,0,0,0.9);

}